<div class="row">
    <div class="col-6 p-5">
      <div class="card" style="width: 25rem; ">
        <img src="{{productDetails?.image}}">
        <div class="card-body">
      <h5 class="card-title">{{productDetails?.nom}}</h5>
      <p class="card-text">{{productDetails?.description}}</p>
    <span style="color: #000; "><p class="card-text"> {{productDetails?.quantite}}</p></span>  
      
    <p class="card-text" style="color: rgb(229, 23, 116); margin-left: 40%;"> ${{productDetails?.prix}}</p>
      
      
    </div>
  </div> 
</div>
</div>